
p {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
}       

h2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24pt;
}    

h3 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18pt;
}   

.top-buffer {
	margin-top: 50px;
}