.bg-light {
    background-color: white!important;
}

/* not active */
.nav-pills .nav-item .nav-link:not(.active) {
    color: #0a1657;
    background-color: white;
    text-decoration: none;
}


/* active */
.nav-pills .nav-item .nav-link {
    background-color: white;
    text-transform: uppercase;
    color: #0a1657;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    text-decoration: line-through;
};


